#post-content {
    max-width: 600px;
    margin-left: 1rem;
}

blockquote {
    background: #eff3fd;
    border-left: 6px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 600px;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

figure {
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
    background: #fafafa;
    width: 100%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
}